label(for='park_name') Park Name
input(type='text', name='park[name]')

label(for='park_lat') Park Lat
input(type='text', name='park[lat]')

label(for'park_lng') Park Lng
input(type='text', name='park[lng]')

input.btn(type='submit')

