div#map_canvas
div#wall
  form.well.form-inline
    input#lat.input-small(type='text', placeholder='lat')
    input#lng.input-small(type='text', placeholder='lng')
    a.btn hi
  ul
div#overlay
:coffeescript
  require ['cs!global/client/router', 'backbone'], (Router, Backbone) ->
    _router = new Router
    Backbone.history.start()



