!!!
html
  head
    title= title
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/style.css')

    script(src='/js/vendor/require-2.0.2.min.js')
    script(src='/global/client/config.js')

    script(src='/js/vendor/jquery-1.7.2.min.js')
    script(src='/js/vendor/bootstrap.js')
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDTB9ap7VN6CRrMWaAS2cKwctgjn-_l_oA&sensor=true')
  body!= body


